Clientes/parqueaderoClienteEscritorio/src/META-INF/wsdl/localhost_8090/parqueaderoSOAP/webServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://sercivios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sercivios/">

<xs:element name="Listar" type="tns:Listar"/>

<xs:element name="ListarResponse" type="tns:ListarResponse"/>

<xs:element name="listarAddorEdit" type="tns:listarAddorEdit"/>

<xs:element name="listarAddorEditResponse" type="tns:listarAddorEditResponse"/>

<xs:complexType name="listarAddorEdit">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="placa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarAddorEditResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarResponse">
<xs:sequence>
<xs:element name="return" type="tns:registro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registro">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="horaE" type="xs:string" minOccurs="0"/>
<xs:element name="horaS" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="placa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>